/*body*/
* {
  box-sizing: border-box;
  font-family: "ubuntu", sans-serif;
}

body {
  margin: 0;
}

.MainContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/*navbar*/

.navbar {
  background-color: #a07cff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  width: 100%;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.navbar li.active {
  background-color: #555;
  translate: translateY(-2px);
  transition: background-color 1s ease, transform 1s ease;
}

.navbar li:hover {
  background-color: #777;
}

/*footer*/

.footer {
  background-color: #a07cff;
  color: white;
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
  margin-top: 1rem;
}
.footer a {
  color: inherit;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
